.body {
    margin: auto;
}

.pagination {
    align-content: center; 
    margin-left: 40%;
    margin-top: 5%;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    /* padding: 0.5em 0.9em  0.5em; */
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    color: black;
    /* background-color: #c5c7c9; */
}

.pagination-number:hover,
.pagination-current {
    background-color: #c5c7c9;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #c5c7c9;
    font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #999696;
}