<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'cart/pagination.css' %}">
</head>
<body>
            <div class="pagination">
            {% if items.has_previous %}
                <a class="pagination-action" href="?page=1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
                <a class="pagination-action" href="?page={{ items.previous_page_number }}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            {% endif %}
            {% for num in items.paginator.page_range %}
                {% if items.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if items.has_next %}
                <a class="pagination-action" href="?page={{ items.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ items.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        
</body>
</html>