{% include 'home/navbar.html' %}
{% load static %}


<link rel="stylesheet" href="{% static 'cart/product_card1.css' %}">

 <br>
    <div class="form-group has-search">
      <form method="POST" action="{% url 'cart:search' %}">
        {% csrf_token %}
            <input type="text" name="itemname" id="itemname"  placeholder="Search">
            <button id="but" type="submit"><i class="fa fa-search"></i></button>
        </div>
        
        
      </form>
      
    </div>

        {%comment%}<div class="row">
          {% for item in all_items %}
          <!-- <div class="col-12 col-sm-8 col-md-2 col-lg-4"> -->
            <div class="col-md-3">
              <div class="card-deck">
            <div class="card">
              <img class="card-img img-fluid" id="image" src="{{ item.image }}" height='2000px' width='300px' alt="Tablets">
              <div class="card-body">
                <a href="{% url 'cart:product_page' item.id %}" id="link"><h5 class="card-title">{{item.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vitamin Supplement</h6></a>
                <div class="buy d-flex justify-content-between align-items-center">
                  <div class="price text-success">
                    <span><h5 class="mt-4">Rs. {{ item.price }}</h5></span>
                    <a href="{% url 'cart:add_to_cart' item.id %}" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart" style="color:white"></i>Add to Cart</a>
                  </div>
                   
                </div> 
              </div>
            </div>
            </div>
          </div>
          {% endfor %} 
          </div>
          {%endcomment%}
          
          <div class="row total">
            {% for item in all_items %}
            <div class="col-md-3">
              <div class="card-deck">
                <div class="card">
                  <img src="{{item.image}}" class="card-img-top"  alt="..." height="200px" width="200px">
                  <div class="card-body">
                    <a href="{% url 'cart:product_page' item.id %}" id="link"><h5 class="card-title">{{item.name}}</h5></a>
                    <p class="card-text">Rs. {{item.price}}</p>
                    <!-- <a href="{% url 'cart:add_to_cart' item.id %}" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart" style="color:white"></i>Add to Cart</a> -->
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  </div>
                  <div class="card-footer">
                    <a href="{% url 'cart:add_to_cart' item.id %}" class="btn btn-danger" id="center"><i class="fas fa-shopping-cart mr-2" style="color:white"></i>Add to Cart</a>
                  </div>
                </div>
                </div>
            </div>
            {%endfor%}
          </div>
          <!-- <div class="card-deck">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            
             <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div> 
          </div> -->
          
          
     
        {% if all_items.paginator.num_pages > 1 %}
        {% include 'cart/pagination.html' with items=all_items %}
    {% endif %}
  </body>

